In [2]:
import pandas as pd
import datetime as dt
import configparser
import logging
import os

In [5]:
thislvPATH=os.getcwd()
conf = configparser.ConfigParser()
conf.read(r'{}\config.ini'.format(thislvPATH))
asserts_excelpath  = conf.get("filepath","asserts")
want_asserts_excelpath  = conf.get("filepath","want_asserts")
datahistory  = conf.get("filepath","datahistory")
asserts=pd.read_excel(r'{}'.format(asserts_excelpath))

asserts_month_TWD=asserts.groupby(['time'])['TWD'].sum().to_frame().reset_index()
asserts_month_TWD

         time     TWD
0  2018-10-01  118248
1  2018-11-01   54449
2  2018-12-01   99218
3  2019-01-01  138560
4  2019-02-01  148193
5  2019-03-01  183154
6  2019-04-01  209391
7  2019-05-01  264032
8  2019-06-01  299237
9  2019-07-01  330990
10 2019-08-01  366331
11 2019-09-01  416213
12 2019-10-01  436901
13 2019-11-01  411319
14 2019-12-01  445828
15 2020-01-01  522326
16 2020-02-01  547498
17 2020-03-01  578895
18 2020-04-01  609354
19 2020-05-01  606594
20 2020-06-01  663933
21 2020-07-01  657331
22 2020-08-01  637403
23 2020-09-01  736159
24 2020-10-01  748970
25 2020-11-01  760040
26 2020-12-01  758966
27 2021-01-01  814177
28 2021-02-01  922755
29 2021-03-01  948146
30 2021-04-01  974446
31 2021-05-01  974755